.edge {
    padding: 30px 0;
    // .edge__title

    &__title {
        font-weight: 700;
        font-family: 'oswald', sans-serif;
        font-style: normal;
        font-size: 36px;
        text-align: center;
        position: relative;
        background-image: url(assets/img/support.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20%;
        padding: 20px 0;
        h4 {
            margin: 0 ;
            padding: 0;
        }
        span {
            width: 100%;
            display: block;
            color: red;
        }
    }

    // .edge__body

    &__body {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    // .edge__item-wrap

    &__item-wrap {
        width: 50%;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .edge__item

    &__item {
        max-width: 560px;
        border-radius: 20px;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        text-align: left;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
        position: relative;
        text-align: left;
        p {
            font-size: 20px;
            color: #000;
            font-family: 'oswald', sans-serif;
            max-width: 450px;
            padding-left: 105px;
        }
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 40px;
            font-size: 60px;
            font-family: 'oswald', sans-serif;
            color: rgba(255, 219, 72, 0.25);
        }
    }
}

@media (max-width:768px) {
    .edge {
        &__title {
            background-image: none;
        }
        &__title {
             font-size: 24px;
             background-position-x: 10%;
        }
        &__item-wrap {
            width: 100%;
            padding: 0 10px 15px;
        }
        &__item {
            height: 100px;
            span {
                left: 10px;
                font-size: 50px;
            }
            P {
                padding-left: 60px;
                font-size: 18px;
            }
        }
    }
}