// Заглавный размер шрифта 
$fonttitle: 24px;

// Основной размер шрифта 
$fontmain: 12px;

// Основной цвет
$colormain: #000;

//Поддерживающий цвет
$coloradd: rgb(146, 27, 27);


// Мобильный заглавный размер шрифта
$fonttitle: 24px;

//Мобильный основной размер шрифта
$fontmain: 12px;

